.news-wrapper {
    .news-cards-wrapper {
        gap: 30px;
    }
}

.news-img {
    width: 70% ;
    height: 75%;
}
.news-card {
    width: 30%;
}

h2 {
    margin-bottom: .3rem;
    font-weight: 500;
}