.contacts-wrapper {
    gap: 20px;
}

.close-btn {
    top:5px;
    right: 10px;
}

.contacts-card {
    width: 700px;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.filter-by-name {
    margin-bottom: 2px;
}

input {
    width: 600px;
    border: 1px solid rgb(33, 37, 41, 0.5);
    border-radius: 8px;
    margin-bottom: 10px;
    height: 40px;

    &.ng-invalid.ng-touched {
        border: 1px solid red;
    }

    &.ng-valid.ng-touched {
        border: 1px solid green;
    }
}


.contact-form {
    display: flex;
    flex-direction: column;
}

.button-add {
    margin-top: 54px;
}

h5 {
    font-size: 1rem;
}